body {
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: grid;
}


.siteHeader {
  position: sticky;
  top: 0;
  z-index: 999;
}

a {
  text-decoration: none;
}
.siteLogo:nth-child(n) {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 1rem;
}
.btnGetStarted {
  align-self: center;
}